<div class="bg-secondary"></div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-bullhorn"></i><span class="ml-2">Quadro de Avisos</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fas fa-home"></i> Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/avisos"><i class="fas fa-clipboard-list"></i> Meus avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/avisos/novo"><i class="fas fa-plus-circle"></i> Novo Aviso</a>
        </li>  
      </ul>
    </div>  
    </div>
  </nav>
</div>
