<!-- incluir o head -->
<%- include('./partials/head.ejs') %> 

  <body>
    <h1 class="alert alert-primary">Formulário de cadastros</h1>
    
    <!-- incluir os scripts do bootstrap -->
    <%- include('./partials/scripts_import') %> 


  </body>
</html>
