<!-- incluir o head -->
<%- include('./partials/head') %>

  <!--Nosso CSS-->
  <link rel="stylesheet" href="/css/logar.css">
</head>

<body>
  <img src="/images/background-cutted.png" id="image-background">
  <div class="container">
    <div class="card shadow">
      <div class="card-title text-dark">
        <h2>LOGIN</h2>
      </div> <!--card-header-->

      <div class="card-body">
        <form action="/logar" method="post">
          <div id="campo-usuario">
            <label for="user">Usuário</label>
            <input name="user" type="text" class="form-control" id="user" required>
          </div>
          <div id="campo-senha">
            <label for="senha">Senha</label>
            <input name="senha" type="password" class="form-control" id="Senha" required>
          </div>
          <div id="link-esqueceu">
            <a href="#" class="text-dark">Esqueceu sua senha?</a>
          </div>
          
          <% if (message) { %>

            <div class="alert mt-3">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
              <strong><%= message %></strong>
            </div>
          <% } %>

          <div class="card-botoes">
            <button type="submit" class="btn btn-dark">Logar-se</button>
            <p class="">Não tem uma conta? <a href="/registrar" class="text-dark text-decoration-none" id="link-registre">Registre-se!</a></p>
          </div>
          
        </form>
      </div> <!-- /card body -->
    </div> <!-- /card -->
    
  </div> <!-- /container -->

  <!-- incluir os scripts do bootstrap -->
  <%- include ('./partials/scripts_import') %>

</body>
</html>
