<!-- incluir o head -->
<%- include('./partials/head') %>

  <!--Nosso CSS-->
  <link rel="stylesheet" href="/css/logar.css">
  
  </head>

  <body>
    <!-- container -->
    <div class="container">

      <!--background-->
      <img src="/images/background.svg" id="image-background">
      <img src="/images/logo.svg" id="logo-background">

      <!--card-->
      <div class="card shadow">

        <!--card-title-->
        <div class="card-title text-dark">
          <h2>LOGIN</h2>
        </div>
        <!--/card-title-->

        <!--card-body-->
        <div class="card-body">

          <!--form-logar-->
          <form action="/logar" method="post" autocomplete="off">

            <!--campo-usuário-->
            <div class="form-group" id="campo-usuario">
              <label for="user">Usuário</label>
              <input name="user" type="text" class="form-control" id="user" required>
            </div>
            <!--/campo-usuário-->

            <!--campo-senha-->
            <div class="form-group" id="campo-senha">
              <label for="senha">Senha</label>
              <div class="password-group">
                <input name="senha" type="password" class="form-control" id="senha" required>
                <div onclick='ShowPassword()' id="show-password"></div>
              </div>
            </div>
            <!--/campo-senha-->

            <!--esqueceu-senha-->
            <div id="link-esqueceu">
              <a href="#" class="text-dark">Esqueceu sua senha?</a>
            </div>
            <!--/esqueceu-senha-->

            <!--mensagem-erro-->
            <% if (message) { %>
              <div class="alert mt-3">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>
                  <%= message %>
                </strong>
              </div>
              <% } %>
                <!--/mensagem-erro-->

                <!--card-botoes-->
                <div class="card-botoes">
                  <button type="submit" class="btn btn-dark">Logar-se</button>
                  <div class="">
                    <span class="">Não tem uma conta? </span>
                    <a href="/registrar" class="text-dark text-decoration-none" id="link-registre">Registre-se!</a>
                  </div>
                  
                </div>
                <!--/card-botoes-->

          </form>
          <!--/form-logar-->

        </div>
        <!-- /card body -->
      </div>
      <!-- /card -->
    </div>
    <!-- /container -->

    <!-- incluir os scripts do bootstrap -->
    <%- include ('./partials/scripts_import') %>

    <script type="text/javascript">
      
      function ShowPassword() { 
            var inputSenha = document.getElementById("senha");
            var toggleSenha = document.getElementById("show-password"); 
            if (inputSenha.type === "password") { 
              inputSenha.type = "text";
              toggleSenha.classList.add('hide');
            } 
            else { 
              inputSenha.type = "password";
              toggleSenha.classList.remove('hide');
            } 
      }

    </script>

  </body>

  </html>
