<!-- incluir o head -->
<%- include('./partials/head') %>

  <!--Nosso CSS-->
  <link rel="stylesheet" href="/css/registrar.css">
  </head>

  <body>
    <!-- /container -->
    <div class="container">

      <!--background-->
      <img src="/images/background.svg" id="image-background">
      <img src="/images/logo.svg" id="logo-background">

      <!--card-->
      <div class="card shadow">
        
        <!--card-title-->
        <div class="card-title text-dark">
          <h2>REGISTRAR</h2>
        </div>
        <!--/card-title-->
        
        <!--typeof-->
        <% if (typeof msg !=='undefined' ) { %>
          <!--mensagem-erro-->
          <% if (msg.tipo==='erro' ) { %>

            <br>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><i class="fas fa-exclamation-circle"></i> Erro! </strong>
              <%=msg.corpo%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

          <% } %>
          <!--/mensagem-erro-->

        <% } %>
        <!--/typeof-->
        
        <!--card-body-->
        <div class="card-body">

          <!--form-registro--->
          <form action="/registrar" method="POST">

            <!--campo-nome-->
            <div class="form-group">
              <label for="nome">Nome completo</label>
              <input name="nome" type="text" class="form-control" id="nome" required>
            </div>
            <!--/campo-nome-->

            <!--campo-email-->
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" required>
            </div>
            <!--/campo-email--> 

            <!--campo-usuário-->
            <div class="form-group">
              <label for="user">Usuário</label>
              <input name="user" type="text" class="form-control" id="user" required>
            </div>
            <!--/campo-usuário-->
            
            <!--campo-senha-->
            <div class="form-group">
              <label for="senha">Senha</label>
              <input name="senha" type="password" class="form-control" id="senha" required>
            </div>
            <!--/campo-senha-->

            <!--card-botoes-->
            <div class="card-botoes">
              <button type="submit" class="btn btn-dark">Registrar-se</button>
              <a href="/logar" class="btn btn-info">Voltar</a>
            </div>
            <!--/card-botoes-->
            
          </form>

        </div>
        <!-- /card body -->

      </div>
      <!-- /card -->

    </div> 
    <!-- /container -->

    <!-- incluir os scripts do bootstrap -->
    <%- include ('./partials/scripts_import') %>

  </body>
  </html>
